{% load static i18n %}
<!DOCTYPE html>
<html>
<head lang={{ LANGUAGE_CODE }}>
    <meta charset="UTF-8">
    <title>{% block title %}{{ DEFAULT_TITLE }}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'microsocial/img/favicon.ico' %}" type="image/x-icon">
    {% block css %}
        <link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet">
        <link href="{% static 'microsocial/css/style.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
<div class="container">
<header>
    {% block header %}
      <div class="h6">  {% include 'header.html' %}</div>
    {% endblock %}
</header>
</div>
    {% block content %}
        <div>
        {% trans 'Content' %}
        </div>
    {% endblock %}
    {% block footer %}
        <footer class="base">
        <div class="container">
            <a href="{% url 'about_page' %}">{% trans 'about'|capfirst %}</a>
            <a href="{% url 'help_page' %}">{% trans 'help'|capfirst %}</a>
            <a href="{% url 'advertising_page' %}">{% trans 'advertisingz'|capfirst %}</a>
            <a href="{% url 'developers_page' %}">{% trans 'for developers'|capfirst %}</a>
            <a href="{% url 'vacancies_page' %}">{% trans 'vacancies'|capfirst %}</a>
            <p>© Copiright {% now 'Y' %} </p>

            </div>
        </footer>
    {% endblock %}
    {% block js %}
        <script src="{% static 'common/js/jquery-2.1.3.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% endblock %}
</body>
</html>