{% load static %}
<!DOCTYPE html>
<html>
<head lang={{ LANGUAGE_CODE }}>
    <meta charset="UTF-8">
    <title>{% block title %}{{ DEFAULT_TITLE }}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'microsocial/img/favicon.ico' %}" type="image/x-icon">
    {% block css %}
        <link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet">
        <link href="{% static 'microsocial/css/style.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
<div class="container">
<header>
    {% block header %}
      <div class="h6">  {% include 'header.html' %}</div>
    {% endblock %}
</header>
</div>
    {% block content %}
        <div>
        Content
        </div>
    {% endblock %}
    {% block footer %}
        <footer class="base">
        <div class="container">
            <a href="{% url 'about_page' %}">about</a>
            <a href="{% url 'help_page' %}">help</a>
            <a href="{% url 'advertising_page' %}">advertisingz</a>
            <a href="{% url 'developers_page' %}">for developers</a>
            <a href="{% url 'vacancies_page' %}">vacancies</a>
            <p>© Copiright {% now 'Y' %} </p>

            </div>
        </footer>
    {% endblock %}
</body>
</html>