{% extends 'Index.html' %}
{% load static i18n %}
{% block title %}{% trans  'authorization'|capfirst%}{% endblock %}

{% block content %}
<div>
    <h1>{% trans 'reset'|capfirst %}</h1>
    <form action="{% url 'reset' %}"
        method="post" role="form" class="form-horizontal">
       <ul>
           <li><input type="email" value="{% trans  'email'|capfirst%}"></li>
           <li><input type="submit" value="{% trans  'reset'|capfirst%}"></li>
       </ul>
        <ul>
            <li><a href="#" title="authorization">{% trans 'authorization'|capfirst %}</a> </li>
        </ul>
      {% csrf_token %}
     </form>
</div>
{% endblock %}
</div>

