{% extends 'main.html' %}
{% block url_video %}
<!--TODO: Fix show error-->
    <div class="container">
        <div class="row">
            <div class="overlay col-lg-12 ">
                <h2>Sign In to Borebo</h2>
                <form data-toggle="validator" action="/login/"
                    id="form-sign-in" role="form" method="post" novalidate="true">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="id_username" class="control-label">
                                                    Email:</label>
                            <input type="email" name="username" class="form-control"
                                                id="id_username"  required="">
                            <div class="help-block with-errors">
                                <ul class="list-unstyled"></ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_password" class="control-label">
                                                    Пароль:</label>
                            <input type="password" name="password" class="form-control"
                                                    id="id_password" required="">
                            <div class="help-block with-errors">
                                <ul class="list-unstyled"></ul>
                            </div>
                        </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                        <!--TODO: passord recovery popup -->
                        <p><a href="/password-recovery/">Forgot password?</a></p>
                     </div>
                </form>
                <div class="social-sign">
                    <div class="row">
                        <div class=" text-right col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <p>Sign in with:</p>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <ul class="social-sign-in text-left">
                                <li class="social-sign-in__item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="social-sign-in__item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-sign-in__item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li class="social-sign-in__item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="social-sign-in__item"><a href="#"><i class="fa fa-tumblr"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}