{% extends 'main.html' %}
{% load i18n microsocial %}

{% block url_video %}
    <div class="container">
        <div class="row">
            <div class="overlay col-lg-12 ">
                <h2>Password Change</h2>
                <form data-toggle="validator" role="form" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group {% if field.errors %} has-error {% endif %}">
                            <label for="{{ field.id_for_label }}" class="control-label">
                                 {{ field.label|capfirst }}
                            </label>
                            <input type="{{ field|field_type }}" class="form-control"
                                   name="{{ field.name }}"  id="{{ field.id_for_label }}" >
                            <div class="help-block with-errors">
                                {% show_form_field_error field.errors %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary"
                                value="{% trans 'recovery password'|capfirst %}">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

