{% extends 'main.html' %}
{% load i18n microsocial %}


{% block login %}
    {% block pwd_r %}
    <a class="sign-in__item" href="{% url 'login' %}">Already a member? Sign in</a>
{% endblock %}
    <script>
        setTimeout(function(){
        $('.open-overlay').trigger('click');
        }, 1000);
    </script>
  <a href="#overlay-request" class="open-overlay" > <input type="hidden"> </a>

<div class="overlay-wrap mfp-hide" id="overlay-request">
    <div class="container">
        <div class="row">
          <div class="overlay col-lg-12 ">
            <h2>Request a Password Change</h2>
            {% if pwd_recovery_user %}
                <p>
                    {% blocktrans trimmed with e=registered_user.email %}
                        Confirm recovery password via a link sent to Your email {{ e }}.
                    {% endblocktrans %}
                </p>
            {% else %}
                <form data-toggle="validator" role="form" method="post">
                    {% csrf_token %}
                    {% for field in form_pwd %}
                        {% show_form_field_error field.errors 'col-sm-offset-4 col-sm-8' %}
                        <div class="form-group {% if field.errors %} has-error {% endif %}">
                             <label for="{{ field.id_for_label }}" class="control-label">
                                 {{ field.label|capfirst }}
                             </label>
                            <input type="email" class="form-control" name="{{ field.name }}"  id="{{ field.id_for_label }}" data-error="That email address is invalid" required>
                <div class="help-block with-errors"></div>
              </div>
                    {% endfor %}
                    <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="{% trans 'recovery password'|capfirst %}">
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
    </div>
</div>
{% endblock %}










































