{% extends 'users/friends_base.html' %}
{% load i18n users microsocial static%}
{% block friends_content %}
    <h2>{% trans 'друзі'|capfirst %}</h2>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="allF">
                <div class="friends-list">
                  <!-- Frieds item row -->
                    {% for item in items %}
                    <div class="friends-list__item">
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                              <img src="{{ item|get_avatar }}" class="img-circle" width="40px" height="40px">
                              <span><a href="{% url 'user_profile' item.pk %}">{{ item.get_full_name }}</a></span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                             <a href="{% url 'messages' item.pk %}"><button class="btn btn-primary">{% trans 'написати повідомлення' %}</button></a>
                                 <form action="{% url 'friendship_api' %}" method="post" style="display: inline-block">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="delete_from_friends">
                                    <input type="hidden" name="user_id" value="{{ item.pk }}">
                                    <input type="hidden" name="next" value="{{ request.get_full_path}}">
                                    <input type="submit" class="fa fa-times" style="
                                            border: hidden;
                                            width: 10px;
                                            height: 10px;
                                            overflow: hidden;
                                            color: transparent;
                                            background: url({% static 'microsocial/images/delete.png' %}) no-repeat;
                                            background-size: 10px 10px;
                                            margin: 0 0 0 5px;
                                            padding: 0;
                                            "
                                               value="{% trans 'видалити з друзів'|capfirst %}">
                                </form>

                            </div>
                          </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% show_paginator items %}
            </div>
        </div>
{% endblock %}