{% extends 'users/friends_base.html' %}
{% load i18n static users microsocial%}

{% block friends_content %}
    <h2>{% trans 'вхідні заявки'|capfirst %}</h2>
    {% for item in items %}
    <div role="tabpanel" class="tab-pane" id="requestF">
        <div class="friends-list">
        <!-- Frieds item row -->
            <div class="friends-list__item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <img src="{{ item.from_user|get_avatar }}" class="img-circle" width="40px" height="40px">
                            <span><a href="{% url 'user_profile' item.from_user.pk %}">{{ item.from_user.get_full_name }}</a></span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">

                            <form action="{% url 'friendship_api' %}" method="post" style="display: inline-block">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="approve">
                                <input type="hidden" name="user_id" value="{{ item.from_user.pk }}">
                                <input type="hidden" name="next" value="{{ request.get_full_path}}">
                                <input type="submit" class="btn btn-primary"
                                value="{% trans 'підтвердити'|capfirst %}">
                            </form>
                            <form action="{% url 'friendship_api' %}" method="post" style="display: inline-block">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="reject">
                                <input type="hidden" name="user_id" value="{{ item.from_user.pk }}">
                                <input type="hidden" name="next" value="{{ request.get_full_path}}">
                                <input type="submit" class="fa fa-times" style="
                                                                            border: hidden;
                                                                            width: 10px;
                                                                            height: 10px;
                                                                            overflow: hidden;
                                                                            color: transparent;
                                                                            background: url({% static 'microsocial/images/delete.png' %}) no-repeat;
                                                                            background-size: 10px 10px;
                                                                            margin: 0 0 0 5px;
                                                                            padding: 0;
                                                                            "
                                value="{% trans 'видалити з друзів'|capfirst %}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% show_paginator items %}
{% endblock %}