{% extends 'Index.html' %}
{% load static i18n %}
{% block title %}{% trans  'registration'|capfirst%}{% endblock %}

{% block content %}
<div class="glyphicon-registration-mark">
    <h1>{% trans 'registration'|capfirst %}</h1>
    <form action="{% url 'registration' %}"
        method="post" role="form" class="form-horizontal">
       <ul>
           <li><input value="{% trans  'name'|capfirst%}"></li>
           <li><input type="email" value="{% trans  'email'|capfirst%}"></li>
           <li><input value="{% trans  'password'|capfirst%}"></li>
           <li><input value="{% trans  'password'|capfirst%}"></li>
           <li><input type="submit" value="{% trans  'register'|capfirst%}"></li>
       </ul>
        <ul>
            <li><a href="{% url 'login' %}" title="log in">{% trans 'log in'|capfirst %}</a> </li>
        </ul>
      {% csrf_token %}
     </form>
</div>
{% endblock %}
</div>